body {
    max-height: 100vh;
}
#map {
    height: 60vh; 
}
.input {
    display: flex;
    
}

.fill {
    border-radius: 10px;
    min-width: 12px;
    width: 35vw;
}
.fill1 {
    border-radius: 10px;
    background-color: aliceblue;
    min-width: fit-content;
    width: 10vw;
}
.card {
    border-radius: 10px;
    max-height: 25vh;
}

#sub {
    padding: 5vw;
}