body {
    max-height: 100vh;
}
.center {
    text-align: center;
}
#map {
    border-radius: 10px;
    height: 55vh; 
}
.flex {
    display: flex;
}

h2 {
    padding-left: 2vw;
}
.fill {
    border-radius: 10px;
    min-width: 12px;
    width: 35vw;
}
.fill1 {
    border-radius: 10px;
    background-color: rgb(136, 185, 228);
    min-height: auto;
    min-width: fit-content;
    width: 10vw;
}
.card {
    border-radius: 10px;
    max-height: 25vh;
    display: flex;
}



.float-child-full {
    width: 80%;
    float: left;
    padding-left: 5px;
}  

#icon {
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-width: 5px;
    min-height: 5px;
}
